@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: inline;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    text-align: center;
    color: white;
    background-image: url("../image/bg-resto.jpg");
    filter: blur(4px);
    -webkit-filter: blur(4px);
    height: 270px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #c1853b;
    padding: 5px;
    position: sticky;
    top: 0;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover {
    font-weight: bold;
}

main {
    padding: 20px;
    overflow: auto;
}

#content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card {
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
}

h2 {
   color: #cc1b1b
}
 
h3 {
   color: #cc1b1b
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.menu-makanan {
    width: 24%;
}

.menu-makanan-image {
    width: 100%;
    height: 50%;
}

.profile {
    width: 100%;
}

.profile-image {
    width: 30%;
    float: left;
}

th, td {
    text-align: left;
    padding: 5px;
}

input[type=text], input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 2px;
    box-sizing: border-box;
    border: 2px solid #85311b;
    border-radius: 4px;
}

input[type=radio] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 4px;
    margin-bottom: 15px;
}

footer {
    padding: 8px;
    color: white;
    background-color: #c1853b;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}